[submodule "lib/cats-problem"]
	path = lib/cats-problem
	url = https://github.com/klenin/cats-problem.git
[submodule "spawner-bin"]
	path = spawner-bin
	url = https://github.com/klenin/spawner-bin.git
