[submodule "lib/cats-problem"]
	path = lib/cats-problem
	url = https://github.com/klenin/cats-problem.git
[submodule "lib/cats-modules"]
	path = lib/cats-modules
	url = https://github.com/klenin/cats-modules
