<?xml version="1.0" encoding="UTF-8"?>
<CATS version="1.8">
<Problem title="Module" lang="ru" tlimit="1" mlimit="256"
    author="VP" inputFile="input.txt" outputFile="output.txt"
    saveInputPrefix="500B" saveOutputPrefix="500B" saveAnswerPrefix="500B">

<ProblemStatement>
    <p>Module</p>
</ProblemStatement>

<Module name="test" src="test.h" type="solution" de_code="1" />
<Module name="test" src="test.h" export="test.module.1" type="checker" de_code="1" />
<Solution name="test" src="test.cpp" de_code="102" />
<Checker name="test" src="test.cpp" de_code="102" style="testlib" />

<Test rank="1"><In src="1.in" /><Out src="1.out" /></Test>
</Problem>
</CATS>